@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*{
  outline: none !important;
  border: none;
}

body{
  font-family: 'Poppins', sans-serif;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display: none;
}