@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*{
  	outline: none !important;
}

body{
	font-family: 'Poppins', sans-serif;
	scrollbar-width: none;
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar{
  	display: none;
}

.title{
  	letter-spacing: 0.8rem;
}

/* search bar */
.search-box{
	position: relative;
	background: whitesmoke;
	height: 2.5rem;
	width: 100%;
	border-radius: 0.3em;
	padding: 0.3em;
	display: flex;
	align-items: center;
    z-index: 0;
}
.search-btn{
  	position: absolute;
	right: 0.3em;
    color: #fff;
    width: 2.1em;
    height: 2.1em;
    border-radius: 0.3em;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 10px;
    color: #333;
    line-height: 2.5rem;
    width: 90%;
}

/* filters */
.filetype{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}
.filetype-label{
    font-size: 1.2rem;
}

/* dataset cards */
.card.home{
    transition: 0.4s ease-in-out;
}
.card.home:hover{
    transform: scale(1.05);
    /* box-sizing: border-box;
    box-shadow: 0 1rem 3rem rgba(#121212, .175); */
}
.card.personal:hover{
    transform: none;
}
.bi-trash3{
    transition: 0.4s ease-in;
}
.bi-trash3:hover{
    color: crimson;
}


/* reviews */
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to right, #bdc3c7 , #2c3e50);
    /* background: #40798c; */
    border-radius: 5px;
}

.ratings i {
    color: #cecece;
}

.rating-color {
    color: #fbc634 !important
}


.btn{
    transition: 0.4s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
}
.btn:active{
    transform: scale(0.95);
}


/* bootstrap customize */
.card.description.bg-light{
    /* background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    background: linear-gradient(to right, #D7DDE8, #757F9A); */
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #b3cdd1 74%);
}
.card.dataset.bg-light{
    /* background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%); */
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}
.card.personal.bg-light{
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}
.card.review.bg-light{
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.profile-card{
    /* background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg"); */
    background-size: cover;
    background-position: center center;
}